.container {
  display: flex;
  justify-content: center;
}

.child {
  padding: 0 1rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;
  margin: 0 auto;
}

.left {
  border-color: orange;;
}

.right {
  border-color: greenyellow;
}
