<div class="page">

  <app-projection-sample-one>
    <h3>I am the content projected</h3>
    <p>Other content injected, but in this way the structure of the children must be handled form the component
      user, and not from the parent container</p>
  </app-projection-sample-one>

  <app-projection-sample-two>
    <h3 class="left">I am the content projected on the left</h3>
    <h3 class="right">I am the content projected on the right</h3>
    <p>This content won't be rendered by the container</p>
  </app-projection-sample-two>
</div>
